.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.message{
  padding: 10px;
  margin: 10px;
  width: fit-content;
  left : 10%
}

.message_user
{
  background-color: blue;
  margin-left: auto; 
  margin-right: 0;
  text-align: left !important;
}

.message_guest{
  background-color: grey;
  margin-left: 0; 

}


.app_form{
  padding: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
